.container {
  width: fit-content;
  height: fit-content;
  position: relative;
  z-index: 10 !important;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  z-index: 101 !important;
}

.card {
  width: 250px;
  height: 300px;
  background-color: #fff;
  box-shadow: none !important;
  z-index: 1 !important;
  border: 2px solid #000 !important;
  border-radius: 2px !important;
}

.card:after {
  content:'' !important;
  position: absolute !important;
  background-color:#000 !important;
  top: 5px !important;
  left: 5px !important;
  right: -5.5px !important;
  bottom: -5.5px !important;
  z-index: -1 !important;
  border-radius: 2px !important;
}

.modal-container > .card {
  width: 550px;
  max-width: 100%;
  height: 660px;
  border: 3px solid #000 !important;
  border-radius: 1px !important;
}

.modal-container > .card:after {
  background-color:#000 !important;
  top: 0px !important;
  left: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
}

.title-bar {
  width: auto;
  height: 50px;
  background-color: #99E32B;
  border: 2px solid #000;
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #000 !important;
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 20px;
}

.modal-container > .card > .title-bar {
  height: 75px;
  font-size: 32px;
  border: 3px solid #000;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 20px;
}

.card-content {
  padding: 10px;
  padding-top: 15px;
  color: #000 !important;
  font-family: 'Inria Sans', sans-serif !important;
}

.more {
  margin-left: 0.25rem;
  font-family: 'Bebas Neue', sans-serif !important;
  color: #666;
  text-decoration: none;
}

.heading {
  font-family: 'Bebas Neue', sans-serif !important;
  margin-bottom: 5px;
  font-size: 18px;
}

.modal-container > .card > .card-content > .heading {
  font-size: 22px;
}

.accent-text {
  font-family: 'Inria Sans', sans-serif !important;
  font-size: 16px;
}