.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    z-index: 101 !important;
}

.card {
    width: 550px;
    max-width: 100%;
    height: 660px;
    background-color: #fff;
    box-shadow: none !important;
    z-index: 1 !important;
    border: 3px solid #000 !important;
    border-radius: 1px !important;
}

/* .card:after {
    content:'' !important;
    position: absolute !important;
    background-color:#000 !important;
    top: 5px !important;
    left: 5px !important;
    right: -5.5px !important;
    bottom: -5.5px !important;
    z-index: -1 !important;
    border-radius: 2px !important;
} */

.title-bar {
    width: auto;
    height: 75px;
    background-color: #99E32B;
    border: 3px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #000 !important;
    font-family: 'Bebas Neue', sans-serif !important;
    font-size: 32px;
}

.card-content {
    padding: 10px;
    padding-top: 15px;
    color: #000 !important;
    font-family: 'Inria Sans', sans-serif !important;
}

.more {
    margin-left: 0.25rem;
    font-family: 'Bebas Neue', sans-serif !important;
    color: #666;
    text-decoration: none;
}

.heading {
    font-family: 'Bebas Neue', sans-serif !important;
    margin-bottom: 5px;
    font-size: 22px;
}

.overlay {
    z-index: 100;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);

  }