.container-item {
  position: absolute;
}

/*
 * HOME
 */

#home-visibility {
  .container-item();
  top: calc(100vh * 0.5);
  left: calc(100vw * 0.5);
}

#me {
  .container-item();
  top: calc(100vh * 0.3);
  left: calc(100vw * 0.7);
}

#uganda {
  .container-item();
  top: calc(100vh * 0.5);
  left: calc(100vw * 0.2);
}

/*
 * EXPERIENCE
 */

@experience-offset: 100vh;

#experience-visibility {
  .container-item();
  top: calc(@experience-offset + 100vh * 0.5);
  left: calc(100vw * 0.5);
}

#aci {
  .container-item();
  top: calc(@experience-offset + 100vh * 0.24);
  left: calc(100vw * 0.06);
}

#mezz {
  .container-item();
  top: calc(@experience-offset + 100vh * 0.51);
  left: calc(100vw * 0.41); 
}

#tal {
  .container-item();
  top: calc(@experience-offset + 100vh * 0.33);
  left: calc(100vw * 0.75); 
}

/*
 * SKILLS
 */

@skills-offset: 200vh;

#skills-visibility {
  .container-item();
  top: calc(@skills-offset + 100vh * 0.5);
  left: calc(100vw * 0.5);
}

#education {
  .container-item();
  top: calc(@skills-offset + 100vh * 0.2);
  left: calc(100vw * 0.35);
}

#frameworks {
  .container-item();
  top: calc(@skills-offset + 100vh * 0.24);
  left: calc(100vw * 0.06);  
}

#languages {
  .container-item();
  top: calc(@skills-offset + 100vh * 0.60);
  left: calc(100vw * 0.15);  
}

#tools {
  .container-item();
  top: calc(@skills-offset + 100vh * 0.4);
  left: calc(100vw * 0.7);  
}

/*
 * CONTACT
 */

 @contact-offset: 300vh;

 #contact-visibility {
   .container-item();
   top: calc(@contact-offset + 100vh * 0.5);
   left: calc(100vw * 0.5);
 }


 //If these values change the corresponding position values need to change in Contact.js
 #stack {
  .container-item();
  top: calc(@contact-offset + 100vh * 0.6);
  left: calc(100vw * 0.05);
}