.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.main-text {
  /* font-family: 'Kanit', sans-serif !important; */
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 10rem !important;
  margin-bottom: -2rem !important;
  padding-left: 2rem;
}

.item-1 {
  grid-row: 1;
  grid-column: 4;
}

.item-2 {
  grid-row: 2;
  grid-column: 3;
}