.container {
  width: fit-content;
  height: fit-content;
  position: relative;
  z-index: 10 !important;
  /* transform: rotate(2deg); */
}

.card {
  width: 250px;
  height: 300px;
  background-color: #fff;
  box-shadow: none !important;
  z-index: 1 !important;
  border: 2px solid #000 !important;
  border-radius: 2px !important;
}

.card:after {
  content:'' !important;
  position: absolute !important;
  background-color:#000 !important;
  top: 5px !important;
  left: 5px !important;
  right: -5.5px !important;
  bottom: -5.5px !important;
  z-index: -1 !important;
  border-radius: 2px !important;
}

.card-content {
  height: 250px;
  width: auto;
}

.card-title {
  width: auto;
  height: 48px;
  background-color: #fff;
  border: 2px solid #000;
  border-left: none;
  border-right: none;
  border-bottom: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #000 !important;
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 20px;
}